<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwang.education.dao.StudentInfoDao">
	<!-- 根据id获取用户信息 -->
    <select id="queryStudentInfoById" resultType="com.jwang.education.model.StudentInfoModel">
       select * from student_info where id = #{id}
    </select>
</mapper>