<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwang.ssmxml.mapper.UserMapper">
	<!-- 新增一个用户信息 -->
    <insert id="addUserInfo">
      	INSERT INTO user (account,password,role) VALUES
      	(
      	#{userInfo.account},
      	#{userInfo.password},
      	#{userInfo.role}
      	)
    </insert>
    
    <select id="getUserInfoById" resultType="com.jwang.ssmxml.beans.dao.UserDao">
     	SELECT * FROM user WHERE id = #{id}
    </select>
    
    <select id="getUserList" resultType="com.jwang.ssmxml.beans.dao.UserDao">
    	SELECT * FROM user WHERE account LIKE CONCAT(#{userListQueryDto.account},"%")
    	LIMIT #{userListQueryDto.pageInfo.from},#{userListQueryDto.pageInfo.size}
    </select>
    
    <select id="getUserCount" resultType="int">
    	SELECT COUNT(*) FROM user WHERE account LIKE CONCAT(#{userListQueryDto.account},"%")
    </select>
</mapper>